#tool
  if site.data.tool
    each i in site.data.tool
      .author-content.author-content-item.toolPage.single(style = `background: url(${i.top_background}) left 37% / cover no-repeat !important;`)
        .card-content
          .author-content-item-tips=i.class_name
          span.author-content-item-title=i.description
          .content-bottom
            .tips=i.tip
          .banner-button-group
            a.banner-button(href=i.buttonLink)
              i.anzhiyufont.anzhiyu-icon-arrow-circle-right(style='font-size: 1.3rem')
              span.banner-button-text=i.buttonText
      each item in i.good_tool
        .goodtool-item
          h2.goodtool-title= item.title
          .goodtool-item-description= item.description
          .tool-item
            .tool-item-content
              each iten, indey in item.tool_list
                .tool-item-content-item
                  .tool-item-content-item-cover
                    img.tool-item-content-item-image(data-lazy-src=url_for(iten.image) onerror=`this.onerror=null;this.src='` + url_for(theme.error_img.flink) + `'` alt=iten.name)
                  .tool-item-content-item-info
                    .tool-item-content-item-name(onclick=`rm.rightmenuCopyText("${iten.name}");anzhiyu.snackbarShow("${_p('Snackbar.copy_tool_name') + " 【" + iten.name + "】"}");` title=iten.name)= iten.name
                    .tool-item-content-item-specification= iten.specification
                    .tool-item-content-item-description= iten.description
                    .tool-item-content-item-toolbar
                      if iten.link.includes('https://') || iten.link.includes('http://')
                        a.tool-item-content-item-link(href= iten.link, target='_blank') 详情
                        .bber-reply(onclick="rm.rightMenuCommentText(" + `'${iten.name + " " + iten.specification + " " + iten.description}'` + ")")
                          i.anzhiyufont.anzhiyu-icon-message
                      else  
                        a.tool-item-content-item-link(href= iten.link, target='_blank') 查看文章
                        .bber-reply(onclick="rm.rightMenuCommentText(" + `'${iten.name + " " + iten.specification + " " + iten.description}'` + ")")
                          i.anzhiyufont.anzhiyu-icon-message